.buttonA {
  margin-left: 0.5vmax;
  margin-right: 0.5vmax;
  cursor: pointer;
  /* position: absolute; */
  height: 4.0vmax;
  width: 4.0vmax;
  /* color: white; */
  /* font-family: monospace; */
  /* padding: 1em; */
  border-radius: 0.6em;
  border: 2px solid #111111;
}
#controlPanel {
  width: 100%;
  position: absolute;
  bottom: 0.2vmax;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  display: none;
}
#btnShow1LevellInfo {
  /* right: 50%; */
  /* bottom: 0.2vmax; */
  background-color: #28343b;
}
#btnShow2LevellInfo {
  /* left: 50%; */
  /* bottom: 0.2vmax; */
  background-color: #ffc355;
}
#btnShowHowItWork {
  /* bottom: 10px; */
  /* left:  50%; */
  /* background-color: #aaaaaa; */
  opacity: 0.5;
  background-image: url(../images/howItWork.png);
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  /* display: none; */
}
#btnShowHideBronya {
  /* bottom: 10px; */
  /* right:  50%; */
  /* background-color: #aaaaaa; */
  opacity: 0.5;
  background-image: url(../images/bronya.png);
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  /* display: none; */
}
#btnFullscrn {
  /* bottom: 10px; */
  /* right: 1vmax; */
  /* background-color: #aaaaaa; */
  opacity: 0.5;
  background-image: url(../images/fullScrn.png);
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  /* display: none; */
}
#btnRotateCamera {
  /* bottom: 10px; */
  /* right: 5.5vmax; */
  /* background-color: #000000; */
  opacity: 0.36;
  background-image: url(../images/rotation.png);
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  /* display: none; */
}
#btnResetCemera {
  /* bottom: 10px; */
  /* right: 10.0vmax; */
  /* background-color: #000000; */
  opacity: 0.36;
  background-image: url(../images/videocam-outline.png);
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
    /* display: none; */
}
#btnPlay {
  /* bottom: 10px; */
  /* right: 20.0vmax; */
  /* background-color: #aaaaaa; */
  /* opacity: 0.36; */
  background-image: url(../images/play.png);
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  /* display: none; */
}
#btnStopAnim {
  /* bottom: 10px; */
  /* right: 20.0vmax; */
  /* background-color: #aaaaaa; */
  /* opacity: 0.36; */
  background-image: url(../images/stop.png);
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  /* display: none; */
}
#btnTemp {
  /* bottom: 10px; */
  /* right: 25.0vmax; */
  background-color: #ff0000;
  /* opacity: 0.36; */
  /* background-image: url(../images/info_icon.png); */
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  /* display: none; */
}
