.buttonA {
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  margin-left: 0.5vmax;
  margin-right: 0.5vmax;
  cursor: pointer;
  /* position: absolute; */
  height: 4.0vmax;
  width: 4.0vmax;
  /* color: white; */
  /* font-family: monospace; */
  /* padding: 1em; */
  /* border-radius: 0.3em;
  border: 1px solid #111111; */
  opacity: 0.3;
}
.buttonA:hover {
  opacity: 0.6;
}
#cameraControl {
  width: 100%;
  position: absolute;
  top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
}
#controlPanel {
  width: 100%;
  position: absolute;
  bottom: 0.2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
#btnSelectObject {
  background-image: url(../images/select.png);
}
#btnSelectObject:hover {
  opacity: 0.8;
}
#btnShow1LevellInfo {
  background-image: url(../images/info_icon.png);
}
#btnShow2LevellInfo {
  background-image: url(../images/search-512.png);
}
#btnShowHowItWork {
  background-image: url(../images/howItWork.png);
}
#btnShowHideBronya {
  background-image: url(../images/bronya.png);
}
#btnFullscrn {
  background-image: url(../images/fullScrn.png);
}
#btnRotateCamera {
  background-image: url(../images/rotation.png);
}
#btnResetCemera {
  background-image: url(../images/videocam-outline.png);
}

#btnStopAnim {
  background-image: url(../images/stop.png);
}
#btnTemp {
  background-color: #ff0000;
  display: none;
}
